* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Outfit;
}

body {
  background-color: rgb(37, 37, 37);
}

.Header {
  margin: 0%;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(107, 250, 99);
}

.Header h1 {
  color: #82c2cf;
  font-family: Outfit;
  font-weight: 200;
}

p {
  align-items: center;
}

.Footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: rgb(107, 250, 99);
}

.note {
  background: rgb(107, 250, 99);
  border-radius: 15px;
  filter: drop-shadow(8px 8px rgb(63, 121, 60));
  padding: 20px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 30px;
  margin-bottom: 6px;
  font-weight: bold;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 500;
}

.note button {
  font-family: Outfit;
  font-weight: bold;
  position: relative;
  float: right;
  margin-right: 10px;
  color: black;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  padding: 0;
  border: none;
  background: none;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: black;
  padding: 15px;
  border-radius: 7px;

}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color: black;
  color: white;
}
form button {
  font-family: Outfit;
  font-size: larger;
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: rgb(107, 250, 99);
  color: black
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  outline: none;
}
